<!-- Laptop -->
<ul class="nav containerNav sticky">
  <li class="item title"><a class="link" (click)="home()" [ngStyle.xs]="{'font-size': '14pt'}">Natchapon Projects</a></li>
  <!-- <li class="item"><a class="link" (click)="home()" fxShow="true" fxHide.lt-md="true">
      <mat-icon>home</mat-icon>&nbsp;&nbsp;หน้าแรก
    </a></li>
  <li id="aabout" class="item"><a class="link" href="home#about" fxShow="true" fxHide.lt-md="true">
      <mat-icon>info</mat-icon>&nbsp;&nbsp;เกี่ยวกับ
    </a></li>
  <li id="aaward" class="item"><a class="link" href="home#award" fxShow="true" fxHide.lt-md="true">
      <mat-icon>code</mat-icon>&nbsp;&nbsp;ผลงาน
    </a></li>
    <li *ngIf="islogin && isAdmin" class="item"><a class="link" fxShow="true" routerLink="/admin">
      <i class="fa fa-tools"></i>&nbsp;&nbsp;หน้าแอดมิน
    </a></li>
  <li *ngIf="islogin" class="item"><a class="link" fxShow="true" (click)="logout()">
      <mat-icon>logout</mat-icon>&nbsp;&nbsp;ออกจากระบบ
    </a></li> -->
</ul>

<div id="totop" class="top" style="display: none;">
  <button mat-fab (click)="toTop()" color="accent">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
