<div fxFlex="100%" class="footer">
  <div fxLayout="row warp" fxLayoutAlign="center center" class="containerNav">
    <div fxFlex="60%" fxFlex.xs="100%">
      <img appShowLoading src="assets/kamkom.png" [ngStyle]="{'max-height': '100px'}" [ngStyle.xs]="{'max-width': '100%'}" [ngStyle.md]="{'max-width': '100%'}">
    </div>
    <div fxFlex="40%" fxFlex.xs="100%">
      <h1>Contact Me</h1>
      <ul class="nav">
        <li class="item text">ณัชพล สหัสสเนตร</li>
        <li class="item text">mikenatchapon@gmail.com</li>
        <li class="item"><a class="link text" href="https://www.facebook.com/natchapon.sahassanetr" target="_blank"><i class="fab fa-facebook"></i> Mike Natchapon</a></li>
        <li class="item"><a class="link text" href="https://instagram.com/_mikemetang" target="_blank"><i class="fab fa-instagram"></i> _mikemetang</a></li>
        <li class="item"><a class="link text" href="https://github.com/DisEzMike" target="_blank"><i class="fab fa-github"></i> DisEzMike</a></li>
      </ul>
    </div>
    <div fxFlex="100%" class="contentCenter" style="padding: 5px;">
      Copyright 2022 © Natchapon Sahassanetr
    </div>
  </div>
</div>
